@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

html,
body {
   min-height: 100%;
}


body {
   background-image: url('../images/tilingWP.jpg');
   background-repeat: no-repeat;
   background-position: center;   
   display: flex;
   flex-direction: column;
}

a {
   display: inline-block;
}

.fa {
   color: Azure;
   font-size: 50px;
   position: relative;
   top: 10px;
   left: 10px;
   padding: 10px;
}

.fa.fa-github {
   color: Azure;
   font-size: 30px;
   position: relative;
   top: 10px;
   left: 10px;

}


.fa.fa-linkedin {
   color: Azure;
   font-size: 30px;
   position: relative;
   top: 10px;
   left:10px;

}

.flex-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.flex-item {
   text-align: center;
   color: Azure;
   font-size: 30px;
   position: relative;
   top: 10px;
}

.name-header {
   color: Azure;
   font-size: 115px;
   position: relative;

   
}